<.h1 class="mb-4">Posts</.h1>
<.table>
  <thead>
    <.tr>
      <.th>ID</.th>
      <.th>title</.th>
      <.th>Slug</.th>
      <.th>Preview</.th>
    </.tr>
  </thead>
  <tbody>
    <%= for post <- @records do %>
      <.tr>
        <.td><%= post.id %></.td>
        <.td><%= post.title || "No Title" %></.td>
        <.td><%= post.slug %></.td>
        <.td>
          <.link href={~p"/posts/#{post.slug}"}>View Post</.link>
        </.td>
      </.tr>
    <% end %>
  </tbody>
</.table>
