<div  class="bg-gray-300 p-4" id="editor-container">
  <input type="text" id="blog-title" placeholder="Enter Blog Title" class="mb-4 p-2 border border-gray-400">
  <div id="editorjs" phx-hook="Editor"></div>
</div>
<button id="save-editor-content" phx-click="save_content">Save Content</button>

