<input type="text" id="blog-title" placeholder="Enter Blog Title" value={"#{@post.title}"} class="mb-4 p-2 border border-gray-400">
<div  class="outline-gray-500 outline p-4 mb-4" id="editor-container">
  <div id="editorjs" phx-hook="Editor" phx-update="replace" data-content={"#{@editor_content}"}></div>
</div>
<.field field={@form[:field_name]} type="checkbox" />
<.button label="Save Content" id="save-editor-content" phx-click="save_content"/>


